<!DOCTYPE html>
<html>

<head>
  <%- include(`./partials/head.ejs`) %>
</head>

<body>
  <header>
    <%- include(`./partials/nav.ejs`) %>
  </header>
  <main>

    <img id="index-Img"
      src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi1.wp.com%2Ffreefuninaustin.com%2Fwp-content%2Fuploads%2Fsites%2F44%2F2015%2F08%2FScreen-Shot-2015-08-13-at-8.37.09-AM.png%3Fssl%3D1&f=1&nofb=1">
    </div>
    <div id="index-h3"> Easily find the classes you want and start moving</div>
    <div id="desktop-h3">
      <div id="desktop-index-info">
        <div>
          Easily find the dance classes you want and start moving
        </div>
        <p>
          Find open classes offerd by accredited studios
        </p>
        <div id="desktop-index-btns">
          <% if(currentUser) { %>
            <div class="explore-btn">
              <a href="/studios">Explore classes</a>
            </div>
            <% } else { %>
              <div class="getstarted-btn">
                <a href="/users/new">Create an account</a>
              </div>
              <div class="explore-btn">
                <a href="/studios">Explore classes</a>
              </div>
              <% } %>
        </div>
      </div>
      <div id="desktop-img">
        <img src="../img/victory.png">
      </div>


    </div>

    <!-- Signup page -->
    <div id="index-btns">
      <% if(currentUser) { %>
        <a class="explore-btn" href="/classes">Explore classes</a>
        <% } else { %>
          <a class="getstarted-btn" href="/users/new">Create an account</a>
          <a class="explore-btn" href="/studios">Explore classes</a>
          <% } %>
    </div>
    <h4 id="index-h4">Browse popular classes</h4>
    <div class="home-classes">

      <%classes.forEach(function(event) { %>
        <!-- grid -->
        <div class="class-ctn">
          <div class="img-ctn">
            <img src="<%=event.img%>">
          </div>
          <!-- flex -->
          <div class="class-info">
            <p class="cls-type">
              <%=event.dancetype%>
            </p>
            <a href="/classes/<%=event._id%>">
              <p class="cls-name">
                <%=event.name%>
              </p>
            </a>
            <p class="class-st">
            </p>
          </div>
        </div>
        <% }) %>
    </div>
  </main>
  <footer>
  </footer>
</body>

</html>