<!DOCTYPE html>
<html>

<head>
  <%- include(`../partials/head.ejs`) %>
</head>

<body>
  <header>
    <%- include(`../partials/nav.ejs`) %>
  </header>
  <main id="full-desktop">
    <div class="search-ctn">
      <h2>Discover studios</h2>
      <form action="/search" id="searchForm" method="POST">
        <input type="search" id="search" name="search" placeholder="Search"><br>
        <input type="submit" id="subHidden" value="Search">
      </form>
    </div>
    <div class="stdio-index">
      <%studiolist.forEach(function(studio) { %>
        <div>
          <div class="stdio-img">
            <img src="<%=studio.img%>">
          </div>
          <div class="stdio-index-info">
            <div class="stdio-index-type">
              <%=studio.typesofdance[1]%>
            </div>
            <div class="stdio-index-name">
              <a href="/studios/<%=studio._id%>">
                <%=studio.name%>
              </a>
            </div>
            <div class="stdioLoc">
              <%=studio.address.city%>
                <%=studio.address.state%>
            </div>
          </div>

        </div>

        <% }) %>
    </div>
  </main>
  <footer>
  </footer>
</body>

</html>