<!DOCTYPE html>
<html>

<head>
  <%- include(`../partials/head.ejs`) %>
</head>

<body>
  <header>
    <%- include(`../partials/nav.ejs`) %>
  </header>
  <main>

    <div id="stdio-info">
      <div class="stdio-show-img">
        <img src="<%=studio.img%>">
      </div>

      <div id="show-stdio-title">
        <div id="show-stdio-name">
          <%=studio.name%>
        </div>
        <div id="show-stdio-address">
          <%=studio.address.street%>,
            <%=studio.address.city%>,
              <%=studio.address.state%>,
                <%=studio.address.zip%>
                  <div id="show-stdio-info">
                    <p>Info</p>
                    <div id="show-stdio-description">
                      <%=studio.description%>
                    </div>
                  </div>
        </div>
      </div>

      <div id="cls-wrap-ctn">
        <div id="show-cls-title">
          Classes
          <p></p>
        </div>
        <div id="show-stdio-crDate">
          <%=new Date().toDateString()%>
        </div>
        <%classes.forEach(function(studioClass) {%>
          <%let currentDay=new Date().getDay()%>
            <%if(studioClass.time.getDay()===currentDay) { %>
              <div class="show-class-ctn">
                <div id="stdio-class-left">
                  <p id="show-class-time">
                    <%=studioClass.time.getHours()%>:00
                  </p>
                  <p id="show-class-price">
                    $<%=studioClass.price%>
                  </p>
                  <p id="show-class-length">
                    <%=studioClass.length%> min
                  </p>
                </div>
                <div id="stdio-class-middle">
                  <p id="show-class-nm">
                    <%=studioClass.name%>
                  </p>
                  <p id="show-class-instructor">
                    <%=studioClass.instructor_name%>
                  </p>
                </div>
                <div id="stdio-class-right">
                  <a href="/classes/<%=studioClass._id%>">
                    Select
                  </a>
                </div>
              </div>

              <% } %>
                <%})%>
      </div>
    </div>
  </main>

</body>

</html>