<!DOCTYPE html>
<html>

<head>
  <%- include(`../partials/head.ejs`) %>
</head>

<body>
  <header>
    <%- include(`../partials/nav.ejs`) %>
  </header>
  <main>
    <div id="confirm-ctn">
      <div id="clss-show-title">
        You're one step away from booking your spot!
      </div>
      <p id="cls-show-subtitle">
        Make sure this is the class you want
      </p>
      <p id="clss-name-comfirm">
        <%=danceclass.name%> with <br>
          <%=danceclass.instructor_name%>
      </p>
      <!-- icons before each p -->
      <p>
        <%=danceclass.created_by.address.street%>, <%=danceclass.created_by.address.city%>,
            <%=danceclass.created_by.address.state%>,
              <%=danceclass.created_by.address.zip%>
      </p>
      <p>
        <%=danceclass.time.getHours()%>
      </p>
      <p>Price:
        $<%=danceclass.price%>
      </p>
      <p>length:
        <%=danceclass.length%> min
      </p>
      <p>
        <%=danceclass.created_by.phone%>
      </p>
      <p>
        <%=danceclass.created_by.website%>
      </p>
      <div id="confirm-btns">
        <div id="confirm-btn1">
          <!-- redirect and alert -->
          <a href="/somatic">Confirm</a>
        </div>
        <div id="goback-btn2">
          <a href=" /studios/<%=danceclass.created_by.id%>">Go back</a>
        </div>
      </div>


    </div>

  </main>
  <footer>
  </footer>
</body>

</html>